UDPDebugger_NodeRed/node-red/node-red/flows.json
[{"id":"9bd254b4.5890e8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"d2e8a08c3383b0cb","type":"function","z":"9bd254b4.5890e8","name":"COMMAND_HOGE","func":"msg.payload = \"HOGE\";\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["50376809a4afe150"]]},{"id":"50376809a4afe150","type":"udp out","z":"9bd254b4.5890e8","name":"","addr":"127.0.0.1","iface":"","port":"12345","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":800,"y":260,"wires":[]},{"id":"77706199e12dbed5","type":"inject","z":"9bd254b4.5890e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":280,"wires":[["d2e8a08c3383b0cb"]]},{"id":"9d6af72552f8e5e1","type":"function","z":"9bd254b4.5890e8","name":"COMMAND_TEST","func":"msg.payload = \"TEST\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[["50376809a4afe150"]]},{"id":"56b6237f0c1a80bb","type":"inject","z":"9bd254b4.5890e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[["9d6af72552f8e5e1"]]},{"id":"f1a8943a0a8e2044","type":"comment","z":"9bd254b4.5890e8","name":"快適ルーム","info":"","x":110,"y":180,"wires":[]}]